<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
    type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
    type="text/javascript" charset="utf-8"></script>
    <title>Search</title>
</head>
    
    <div id="fb-root"></div><script async defer crossorigin="anonymous" src="https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v10.0&appId=468739614360394&autoLogAppEvents=1" nonce="iFPJ5Fwi"></script>

    <h1> <%= info.name %> </h1><br>
    <h2>Dettagli:</h2>
    <% if (info.preview!=undefined) {%>
        <img src=<%= info.preview.source  %> width=<%=info.preview.width%> height=<%=info.preview.height%>>
    <% } else{ %>
        Immagine non disponibile
    <% } %>
    <br>
    <ul>
        <li><h3><b><i>Puoi trovarlo a: </b></h3>
        <%if(info.address.road==undefined) {%>
            <%= info.address.pedestrian %>
        <% } else{ %>  
            <%= info.address.road %>
        <% } %>
        civico: </b> 
        <% if(info.address.house_number==undefined){ %>
            SNC</i></li><br>
        <% } else{ %>  
            <%= info.address.house_number %></i></li><br>
        <% } %>
        <li><h3>Informazioni: </h3><i>
        <% if(info.wikipedia_extracts!=undefined) {%> 
            <%- info.wikipedia_extracts.html %> </i></li><br>
        <% } else{ %>  
            Nessuna informazione disponibile</i></li><br>
        <% } %>
        <div style="width: 640px; height: 480px" id="mapContainer"></div>
        <script>
          // Initialize the platform object:
          var platform = new H.service.Platform({
            'apikey': '<%= api %>'
          });
    
          // Obtain the default map types from the platform object
          var maptypes = platform.createDefaultLayers();
    
          // Instantiate (and display) a map object:
          var map = new H.Map(
            document.getElementById('mapContainer'),
            maptypes.vector.normal.map,
            {
              zoom: 15,
              center: {lat: "<%= lat  %>"  , lng: "<%= lon  %>"}
            });
            var svgMarkup = '<svg width="24" height="24" ' +
            'xmlns="http://www.w3.org/2000/svg">' +
            '<rect stroke="white" fill="#c72b08" x="1" y="1" width="22" ' +
            'height="22" /><text x="12" y="18" font-size="7pt" ' +
            'font-family="Arial" font-weight="bold" text-anchor="middle" ' +
            'fill="white">Here</text></svg>';

            // Create an icon, an object holding the latitude and longitude, and a marker:
            var icon = new H.map.Icon(svgMarkup),
            coords = {lat: "<%= lat  %>", lng: "<%= lon  %>"},
            marker = new H.map.Marker(coords, {icon: icon});

            // Add the marker to the map and center the map at the location of the marker:
            map.addObject(marker);
            map.setCenter(coords);
        </script>
        


        <li><h3>Recensioni: </h3><i>
            <% if (reviews!="") { %>
                <% for(var i=0; i<n ;i++) {%>
                    <%=reviews[i].date%> Da <%=reviews[i].name%> : <%=reviews[i].text %><br>
                <% } %>
            <% } %>

        <br><form action="http://localhost:8000/reviews" method="POST">
            
            <textarea name="rev" cols="30" rows="6" placeholder="Add a review"></textarea><br>
            <input class="mb-3" type="submit" value="AGGIUNGI" size="10">
        </form>
    
    <% if (fconnected==true) { %>
        <p>Condividi questo posto con i tuoi amici</p><br></ul>
        <% var link = 'http://127.0.0.1:8000/details?xid='+xid; %>
        <% var link2 = "http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%2F8000%2Fdetails?xid=+xid%3A8000%2F&amp;src=sdkpreparse"; %>
        <div class="fb-share-button" data-href= <%= link %> data-layout="button" data-size="large"><a target="_blank" href=<%= link2%> class="fb-xfbml-parse-ignore">Share</a></div>
    
    <%}%>
</html>