<html>
<head>
    <title>Photos from GooglePhotosAPI</title>
</head>
<body>
    <script>
    </script>
    <h1>Pagina <%=numpag%> <h1>
    
    <ul><% for (var i=0; i<info.mediaItems.length; i++){ %>
        
         <li><%= info.mediaItems[i].filename %></a></li>
        <% var uri = info.mediaItems[i].baseUrl; var width = 500; var height = 500%>
        <li><img src= <%=uri %> width=<%=width%> height=<%=height%>></li>


        <% if (xid!=undefined && xid!=''){ %>
            <form method="GET" action="http://localhost:8000/details">

                <input type="hidden" id="xid" name="xid" value=<%=xid %>>
                <input type="hidden" id="baseUrl" name="baseUrl" value=<%=uri %>>
                <input class="mb-3" type="submit" value="Scegli" size="30">
            </form>
        <% } else { %>
            <form method="POST" action="http://localhost:8000/newfeedback">
                <input type="hidden" id="baseUrl" name="baseUrl" value=<%=uri %>>
                <input class="mb-3" type="submit" value="Scegli" size="30">
            </form>
        <% } %>

    <% } %>
    </ul> 
    <% var nextpg = info.nextPageToken; %>
    <% if (xid!=undefined && xid!=''){ %>
        <form method="GET" action="http://localhost:8000/googlephotosapi">

            <input type="hidden" id="xid" name="xid" value=<%=xid %>>
            <input type="hidden" id="nextpg" name="nextpg" value=<%=info.nextPageToken %>>
            <input class="mb-3" type="submit" value="NEXT PAGE" size="30">
        </form>
    <% } else { %>
        <form method="POST" action="http://localhost:8000/newfeedback">
            <input type="hidden" id="baseUrl" name="baseUrl" value=<%=uri %>>
            <input class="mb-3" type="submit" value="Scegli" size="30">
        </form>
    <% } %>
    
</html>