<html>
<head>
    <title>Search</title>
</head>
<body>
    <script>
    </script>
    <h1>First 100 results <h1>
    
    <ul><% for (var i=0; i<info.mediaItems.length; i++){ %>
        <a href= <%=info.mediaItems[i].productUrl %> <li><%= info.mediaItems[i].filename %></a></li>
        <% var uri = info.mediaItems[i].baseUrl; var width = info.mediaItems[i].mediaMetadata.width/3; var height = info.mediaItems[i].mediaMetadata.height/3%>
        
            <li><img src= <%=uri %> width=<%=width%> height=<%=height%>></li>
        
    <% } %>
    </ul> 
</html>