<html>
    <% if (data!=""){ %>
<head>
    <title>Info <%=data.name%> <%=data.surname%></title>
</head>
<body>
    <script>
    </script>
    <h1>Ecco le tue informazioni</h1>
    
    
    <ul>
        <li>Username: <%= data.username%></li>
        <li>Nome: <%= data.name%></li>
        <li>Cognome: <%= data.surname%></li>
        <li>E-mail : <%= data.email%></li>
        <%if(data.picture.url!=undefined){ var photourl= data.picture.url ; %>
        <li>Picture: <img src=<%= photourl  %> width=<%=data.picture.width%> height=<%=data.picture.height%>>
        <%}%>
    </ul>
        <% if(data.reviews.length>0){ %>
            <h2>Le tue recensioni:</h2><br>
            <ul>
            <% for(var i=0;i < data.reviews.length; i++) {%>
                <li>Xid: <%= data.reviews[i].xid%></li>
                <li>Testo: <%= data.reviews[i].text%></li>
                <li>Data: <%= data.reviews[i].date%></li>
                <% if (data.reviews[i].photo!="") { %>
                    <% src="data:image/png;base64,"+data.reviews[i].photo; %>
                    <li><img src= <%= src %> width="200" height="200"></li> 
                <% } %> 
                <h2>--------------------------------------</h2>
            <%}%>
            </ul>
        <%} else {%>
            <h2>Non hai effettuato nessuna recensione ancora</h2>
        <%}%>

        <% if(data.feedbacks.length>0){ %>
            <h2>I tuoi feedback:</h2><br>
            <ul>
            <% for(var i=0;i < data.feedbacks.length; i++) {%>
                <li>Testo: <%= data.feedbacks[i].text%></li>
                <% if (data.feedbacks[i].photo.length>1) { %>
                    <% src1="data:image/png;base64,"+data.feedbacks[i].photo; %>
                    <li><img src= <%= src1 %> width="200" height="200"></li> 
                <% } %>
                <% if(data.feedbacks[i].read==true){%>
                    <h4>Questo feedback è stato letto dall'assistenza clienti</h4> 
                <%}else {%>
                    <h4>Questo feedback ancora non è stato letto</h4> 
                <%}%>
                <h2>--------------------------------------</h2>
            <%}%>
            </ul>
        <%} else {%>
            <h2>Non hai inviato nessun feedback ancora</h2>
        <%}%>

        <a href= "http://localhost:8000/homepage">
            <button type= 'button'>Torna alla homepage</button>
          </a>
        

    <% } else {%>
        Sembra che tu non sia collegato! :( Torna alla homepage! 
        <a href= "http://localhost:8000/">
            <button type= 'button'>OK :(</button>
          </a>
    <% } %>
</html>